:host {
    ::ng-deep {
      .tab-item {
        margin: 0;
        font-weight: 500;
        padding: 0 32px;
      }
  
      .profile-tab {
        background-color: var(--bs-gray-100);
        border: 1px solid var(--bs-gray-200);
  
        .dx-toolbar-item {
          cursor: pointer;
          padding: 0 !important;
  
          &:hover .tab-item {
            color: var(--bs-primary) !important;
          }
        }
      }
  
      .NgxEditor {
        border: none;
      }
  
      .dropdown-button .dx-icon {
        color: white;
        font-size: 30px;
        width: max-content;
      }
  
      .dx-icon-like {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  
  ::ng-deep.users-shared-popup {
    .dx-popup-normal {
      border-radius: 20px;
    }
  }
  
  .tab-content {
    height: calc(65vh - 66px);
  }
  
  .item-image {
    object-fit: contain;
    background-color: var(--bs-gray-300);
  }
  
  .users {
    width: 50%;
    max-width: 400px;
  }
  
  .user-recommended {
    object-fit: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  img {
    object-fit: contain;
  }
  
  .radius {
    border-radius: 10px;
  }
  
  .activated-tab {
    color: var(--bs-primary);
  }
  
  .button-primary {
    height: 36px;
  }
  
  .dropdown-button {
    right: 7px;
    top: 8px;
  }
  
  .remove-image {
    background-color: var(--bs-danger) !important;
  }
  