<section
  class="tripill-card d-flex flex-column rounded-3 cursor-pointer bg-light position-relative"
>
  <dx-drop-down-button
    *ngIf="showActions"
    class="position-absolute text-white dropdown-button"
    icon="overflow"
    stylingMode="text"
    [showArrowIcon]="false"
    [dropDownOptions]="{ width: 190 }"
  >
    <dxi-item>
      <div *dxTemplate (click)="onEditAlbum()">
        <span> Edit the album </span>
      </div>
    </dxi-item>
    <dxi-item>
      <div *dxTemplate class="remove-album" (click)="onRemoveAlbum()">
        <span class="text-white"> Remove the album </span>
      </div>
    </dxi-item>
  </dx-drop-down-button>

  <div (click)="clickEmitter.emit()">
    <div class="album-images p-2">
      <div
        class="album-image rounded-3 bg-info"
        [ngStyle]="{
          'background-image':
            'url(' + (album.images ? album.images[0] : '') + ')'
        }"
      ></div>
      <div
        class="album-image rounded-3 bg-info"
        [ngStyle]="{
          'background-image':
            'url(' + (album.images ? album.images[1] : '') + ')'
        }"
      ></div>
      <div
        class="album-image rounded-3 bg-info"
        [ngStyle]="{
          'background-image':
            'url(' + (album.images ? album.images[2] : '') + ')'
        }"
      ></div>
    </div>
    <div class="d-flex flex-column p-2">
      <span class="description">{{ album?.name }}</span>
    </div>
  </div>
</section>
