<div class="tripill-card d-flex flex-column rounded-3 cursor-pointer bg-light">
  <div class="album-images p-2">
    <div
      class="album-image rounded-3 bg-info"
      [ngStyle]="{
        'background-image': 'url(' + (album.images ? album.images[0] : '') + ')'
      }"
    ></div>
    <div
      class="album-image rounded-3 bg-info"
      [ngStyle]="{
        'background-image': 'url(' + (album.images ? album.images[1] : '') + ')'
      }"
    ></div>
    <div
      class="album-image rounded-3 bg-info"
      [ngStyle]="{
        'background-image': 'url(' + (album.images ? album.images[2] : '') + ')'
      }"
    ></div>
  </div>
  <div class="d-flex flex-column p-2">
    <span class="description">{{ album?.name }}</span>
  </div>
</div>
