<section
  *ngIf="!loading; else appLoading"
  class="album-details-container p-3 d-flex flex-column gap-3"
>
  <h3 class="p-3">{{ albumDetails?.name }}</h3>
  <dx-scroll-view [scrollByContent]="true" [scrollByThumb]="true">
    <div class="trips-container">
      <ng-container *ngFor="let trip of albumDetails?.trips">
        <app-trip-card
          [data]="trip"
          [showLikeAction]="true"
          (likeTripEmitter)="onLikeTrip(trip.id)"
        ></app-trip-card>
      </ng-container>
    </div>
  </dx-scroll-view>
</section>

<ng-template #appLoading>
  <app-loading></app-loading>
</ng-template>
