<section
  *ngIf="!loading && (albums$ | async) as albums; else appLoading"
  class="d-flex gap-3 flex-wrap flex-grow-1"
>
  <ng-container *ngFor="let trip of trips$ | async">
    <app-trip-card
      class="flex-grow-1"
      [data]="trip"
      [albums]="albums"
      [showActions]="!!(isMyProfile$ | async)"
      (saveAlbumSelectionEmit)="onAlbumSelectionChanged($event)"
    ></app-trip-card>
  </ng-container>
</section>

<ng-template #appLoading>
  <app-loading></app-loading>
</ng-template>
