<section
  *ngIf="!loading && (albums$ | async) as albums; else appLoading"
  class="trips-container"
>
  <ng-container *ngFor="let trip of trips$ | async">
    <app-trip-card
      [data]="trip"
      [albums]="albums"
      [showActions]="!!(isMyProfile$ | async)"
      [showRemoveAction]="!!(isMyProfile$ | async)"
      [showLikeAction]="true"
      (saveAlbumSelectionEmit)="onAlbumSelectionChanged($event)"
      (removeTripEmitter)="onRemoveTrip(trip.id)"
      (likeTripEmitter)="onTripLike(trip.id, $event)"
    ></app-trip-card>
  </ng-container>
</section>

<ng-template #appLoading>
  <app-loading></app-loading>
</ng-template>

<dx-popup
  *ngIf="showTripPopup"
  width="50vw"
  height="40vh"
  [(visible)]="showTripPopup"
  [showTitle]="false"
  [showCloseButton]="false"
  [closeOnOutsideClick]="true"
  [dragEnabled]="false"
  (onDisposing)="onPopupClose()"
>
  <div *dxTemplate="let date of 'content'">
    <form
      class="d-flex flex-column justify-content-between gap-3 h-100"
      (submit)="onAddNewTrip($event)"
    >
      <div class="d-flex justify-content-between gap-3">
        <div>
          <div
            class="upload-image d-flex justify-content-center align-items-center rounded position-relative"
            (click)="imageFile.click()"
          >
            <input
              #imageFile
              type="file"
              class="d-none"
              accept="image/png, image/jpeg"
              (change)="onFileSelect($event)"
            />
            <img
              *ngIf="trip?.image"
              class="w-100 h-100 position-absolute"
              [src]="trip.image"
            />
            <i class="dx-icon-plus fs-2"></i>
          </div>
          <dx-button
            class="button-danger mt-1 w-100"
            text="Remove Image"
            (onClick)="onRemoveTripImage()"
          ></dx-button>
        </div>
        <div class="d-flex flex-column flex-grow-1 gap-2">
          <dx-text-box label="*Name" labelMode="floating" [(value)]="trip.name">
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="This field is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <div class="d-flex gap-2 justify-content-between">
            <dx-date-box
              type="datetime"
              label="*Start date"
              labelMode="floating"
              [(value)]="trip.startDate"
            >
              <dxi-validation-rule
                type="required"
                message="Start date is required"
              >
              </dxi-validation-rule>
            </dx-date-box>
            <dx-date-box
              type="datetime"
              label="*End date"
              labelMode="floating"
              [(value)]="trip.endDate"
            >
              <dxi-validation-rule
                type="required"
                message="End date is required"
              ></dxi-validation-rule
            ></dx-date-box>
          </div>
        </div>
      </div>
      <dx-button
        class="button-primary"
        text="Create A New Trip"
        [useSubmitBehavior]="true"
      ></dx-button>
    </form>
  </div>
</dx-popup>
