.dx-texteditor-input {
  padding: 12px 9px;
}

.dx-toast-message {
  color: white;
  font-weight: 400;
}

.dx-dropdownbutton-content {
  padding: 8px !important;
}

.dx-drawer-panel-content {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  background-color: white !important;
}

.dx-state-disabled.dx-widget {
  opacity: 1 !important;
}
