.dx-texteditor-input {
  padding: 12px 9px;
}

.dx-toast-message {
  color: white;
  font-weight: 400;
}

// .dx-state-active {
//   background-color: var(--bs-primary) !important;

//   span {
//     color: white !important;
//   }
// }
