.tripill-header {
  height: max-content;
  padding: 16px 16px;
  border: 1px solid var(--bs-gray-200);
}

.a {
  width: 300px;
}

img {
  object-fit: cover;
}

.explore {
  font-size: 16px;
}

.link-active {
  font-weight: 500;
  color: var(--bs-primary);
}
