<div
  class="tripill-card d-flex flex-column rounded-3 cursor-pointer bg-light"
  [routerLink]="detailsLink"
>
  <div class="p-2 position-relative">
    <img
      class="trip-image rounded-3"
      [src]="trip?.image || 'assets/no-image.png'"
    />
    <dx-drop-down-button
      *ngIf="showActions"
      class="position-absolute text-white dropdown-button"
      icon="overflow"
      stylingMode="text"
      [showArrowIcon]="false"
      [dropDownOptions]="{ width: 170 }"
      (click)="$event.stopPropagation(); $event.preventDefault()"
    >
      <dxi-item>
        <div *dxTemplate>
          <span (click)="onAddToAlbum()">Add to an album</span>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate class="remove-trip">
          <span class="text-white" (click)="removeTripEmitter.emit()">
            Remove the trip
          </span>
        </div>
      </dxi-item>
    </dx-drop-down-button>
  </div>
  <div class="d-flex flex-column p-2">
    <div class="d-flex justify-content-between">
      <span class="description">{{ trip?.name }}</span>
      <div>
        <span class="description me-1">{{ trip?.days }}</span>
        <span class="description">days</span>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div *ngIf="showLikeAction" class="d-flex gap-1 align-items-center">
        <div>{{ trip.numberOfLikes }}</div>
        <i
          class="dx-icon-like"
          [ngClass]="[trip.isLiked ? 'text-primary' : ' text-gray']"
          (click)="$event.stopPropagation(); onTripLike()"
        ></i>
      </div>
      <div *ngIf="showRemoveAction" class="ms-auto">
        <i
          class="dx-icon-trash d-flex fs-5 text-danger cursor-pointer"
          (click)="$event.stopPropagation(); removeTripEmitter.emit()"
        >
        </i>
      </div>
    </div>
  </div>
</div>

<dx-popup
  width="25vw"
  height="55vh"
  title="Albums"
  [(visible)]="popupVisible"
  [showTitle]="true"
  [showCloseButton]="false"
  [closeOnOutsideClick]="true"
  [dragEnabled]="false"
>
  <div *dxTemplate="let data of 'content'">
    <div class="d-flex flex-column justify-content-between h-100">
      <dx-scroll-view
        class="flex-grow-1"
        [scrollByContent]="true"
        [scrollByThumb]="true"
      >
        <div class="d-flex flex-column gap-2">
          <ng-container *ngFor="let album of albums">
            <div
              class="album p-3 rounded-3"
              [ngClass]="{ active: trip?.album === album?.id }"
              (click)="onAlbumChanged(album)"
            >
              {{ album?.name }}
            </div>
          </ng-container>
        </div>
      </dx-scroll-view>
      <dx-button
        class="button-primary"
        text="Save"
        (onClick)="saveAlbumSelection()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
