:host {
  ::ng-deep {
    .dropdown-button .dx-icon {
      color: white;
      font-size: 24px;
      width: max-content;
    }
  }
}

.dropdown-button {
  right: 16px;
  top: 8px;
}

.trip-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.description {
  font-size: 12px;
  font-weight: 500;
}

.remove-trip {
  background-color: var(--bs-danger) !important;
}

.album {
  cursor: pointer;

  &:hover {
    background-color: var(--bs-light);
  }

  &.active {
    color: white;
    background-color: var(--bs-primary);
  }
}

.dx-icon-like {
  font-size: 18px;
  cursor: pointer;
}
