@import "~devextreme/dist/css/dx.common.css";
@import "~devextreme/dist/css/dx.light.css";

@import "./styles/_bootstrap.scss";
@import "./styles/_devextreme.scss";
@import "./styles/utils/global-styles.scss";

* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--bs-dark);
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100vh;
  background-color: var(--bs-light);
}
