<section class="explore-container">
  <dx-text-box
    mode="search"
    placeholder="Search"
    [showClearButton]="true"
    (textChange)="onSearchChange($event)"
  ></dx-text-box>
  <div class="d-flex tabs mt-3">
    <div
      class="tab"
      [routerLink]="['/explore/user']"
      routerLinkActive="tab-active"
    >
      Users
    </div>
    <div
      class="tab"
      [routerLink]="['/explore/trip']"
      routerLinkActive="tab-active"
    >
      Trips
    </div>
    <div
      class="tab"
      [routerLink]="['/explore/item']"
      routerLinkActive="tab-active"
    >
      Items
    </div>
  </div>
  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>
</section>
